* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

/* Inicio de Nav */

.bg {
    background-color: rgba(0, 0, 0, 0.89);
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    color: rgba(252, 172, 0, 0.897);
    font-size: 30px;
}

.navbar-brand:hover {
    color: rgba(252, 172, 0, 0.897);
}

.nav-link {
    font-size: 18px;
    color: white;
}

.nav-link:hover {
    color: rgba(252, 172, 0, 0.897);
    z-index: 100;
}

.btn {
    border: solid 1px white;
}

.btn-outline {
    color: rgba(252, 172, 0, 0.897);
}

.btn-outline:hover {
    color: white;
}

/* Finaliza Nav */

/* Carrousel */

.carousel {
    width: 70%;
    object-fit: cover;
}




/* Finaliza Carrousel */

/* Titulo produductos inicio */

.productos {
    text-align: center;
    margin-top: 5%;
}

/* Card productos inicio */

.productoInicio {
    display: flex;
    column-gap: 2%;
    justify-content: center;
    margin-top: 5%;
}

.productoInicioDos {
    display: flex;
    column-gap: 2%;
    justify-content: center;
    margin-top: 5%;
}

/* Cart productos */

.cardTazas {
    display: flex;
    column-gap: 2%;
    justify-content: center;
    margin-top: 5%;
}

.cardCuadros {
    display: flex;
    column-gap: 2%;
    justify-content: center;
    margin-top: 5%;
}

.cardFotos {
    display: flex;
    column-gap: 2%;
    justify-content: center;
    margin-top: 5%;
}

.card:hover .card-img-top {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
}

.card {
    overflow: hidden;
}

.productosTaza {
    text-align: center;
    margin-top: 4%;
}

.productosCuadros {
    text-align: center;
    margin-top: 4%;
}

.productosFotos {
    text-align: center;
    margin-top: 4%;
}

.card {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.527);

}
.form-contact {
    background-color: rgba(247, 178, 30, 0.925);
    width: 60%;
    height: 52%;
    margin-top: 1.5%;
    padding-top: 3%;
    margin-left: 20%;
    padding-left: 11%;
    box-shadow: 7px 17px 37px rgba(0, 0, 0, 0.8);
}

.contact {
    padding: 13px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.8);

}

.contact label, .contact input, .contact textarea {
    display: block;
    width: 70%;
    margin-bottom: 10px;

}

footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.89);
    justify-content: center;
    height: 80px;
    margin-top: 15%;
}

.redes {
    list-style: none;
    justify-items: center;
    margin-top: 25px;
}

.instagram {
    color: white
}
.facebook {
    color: white;
}

.instagram:hover {
    color: rgb(243, 141, 243)
}
.facebook:hover {
    color: blue;
}

