.bg {
    background-color: $colorPrincipal;
}
nav {
    .navbar {
        &-nav {
            margin: auto;
        }
        &-brand {
            color: $colorSecundario;
            font-size: 30px;

            &:hover {
                color: $colorSecundario;
            }
        }
    }
    .nav-link {
        font-size: 18px;
        color: white;

        &:hover {
            color: $colorSecundario;
            z-index: 100;
        }
    }
    .btn {
        border: solid 1px white;
        &-outline {
            color: $colorPrincipal;
            :hover {
                color: white;
            }
        }
    }
}
.fas {
    color: white;
}
.carousel {
    width: 65%;
    object-fit: cover;
}
.contenedorVideos {
    @extend %centrar;
    cursor: none;
    :hover {
        -webkit-transform: scale(1);
        transform: scale(1.1);
        box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.527);
    }
}
.botonTiktok {
    @extend %centrar;
    margin-top: 2%;
}
.productos {
    text-align: center;
    margin-top: 5%;
}

.producto {
    &Inicio {
        @include flexbox(2%, center, 5%);
        @media screen and (max-width: 576px) {
            display: block;
        }
        .card {
            @media screen and (max-width: 576px) {
                margin: auto;
                margin-top: 20px;
            }
        }
    }

    &InicioDos {
        @extend %cardflex;
        @media screen and (max-width: 576px) {
            display: block;
        }
        .card {
            @media screen and (max-width: 576px) {
                margin: auto;
                margin-top: 20px;
            }
        }
    }
}

footer {
    display: flex;
    background-color: $colorPrincipal;
    justify-content: center;
    height: 80px;
    margin-top: 15%;

    .redes {
        list-style: none;
        justify-items: center;
        margin-top: 25px;

        .instagram {
            color: white;

            :hover {
                color: map-get($colores, redes-ig);
            }
        }
        .facebook {
            color: white;

            :hover {
                color: map-get($colores, redes-fb);
            }
        }
        .whatsapp {
            color: white;

            :hover {
                color: map-get($colores, redes-wp);
            }
        }
    }
}
