.cardTazas {
    @extend %centrar;

    @media screen and (max-width: 576px) {
        display: block;
    }
}
.cardCuadros {
    @extend %centrar;

    @media screen and (max-width: 576px) {
        display: block;
    }
}
.cardFotos {
    @extend %centrar;

    @media screen and (max-width: 576px) {
        display: block;
    }
}
.card {
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.527);
    overflow: hidden;

    &:hover .card-img-top {
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
    }

    @media screen and (max-width: 576px) {
        margin: auto;
        margin-top: 5%;
    }
}

.productosTaza {
    @extend %titulos;
}
.productosCuadros {
    @extend %titulos;
}
.productosFotos {
    @extend %titulos;
}

.btn {
    background-color: $colorSecundario;
    color: $colorPrincipal;
    border: solid 1px;
    &:hover {
        color: white;
        background-color: $colorPrincipal;
        border: solid 1px $colorSecundario;
    }
}
