.tit_quienes_somos {
    text-align: center;
}
.textoPresentacion {
    text-align: center;
    font-size: 20px;
}
.gift {
    
    display: block;
    margin: auto;
    height: 300px;
    margin-top: 300px;
}
